
body{
    font-family: 'Raleway', sans-serif;

}

.navbar{
    font-weight: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}
.navbar-brand h3{
    font-weight: 100;
}
.nav-item{
    margin-top: 5px;
    line-height: 1.5rem;
    font-size: 1.4rem;
}
.nav-link:hover{
    border-bottom: 1px solid white;
}
#showCase{
    background: url("../images/main.jpeg") bottom center/cover no-repeat;
    min-height: 750px;
    position: relative;

}
#header{
    z-index: 2;
}
#showCase h1{
    font-family: "Questrial",sans-serif;
    line-height: 1;
}
.overlay{
    background: rgba(0, 0,0,0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#book{
    background: #2D968C;
    border-radius: 2rem;
    font-size: 1.5rem;
}
#quotes i{
    opacity: 0.3;
}
.search-box{
    width:300px;
    text-align: center;
}
#footer{
    background:#1F1F1F;
    font-weight: 100;
    font-size: .5rem;
}

@media (max-width:768px){
    .navbar{
        background: #1f1f1f;
    }
    .nav-link:hover{
        border-bottom: none;
    }
    #showCase{
        min-height: 500px;
    }
    #showCase h1{
        font-size: 4rem;
    }
 
}
